@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

.box{
    margin-top: 35px;
    height: auto;
    width: 60vw;
    margin-left: 230px;
    overflow: hidden;
    /* background-color: red; */
}

.box-section-1{
    width: 55vw;
    height: 20vh;
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
    border: 5px solid rgb(216, 248, 227);
    margin-left: 35px;

}

.div-text{
    padding-top: 35px;
}

.text{
    color: black;
    padding-left: 30px;
    font-family: 'Inter';
}

.mini-text{
    padding-top: 7px;
    font-weight: none

}

.box-section-2{
    width: 20vw;
    height: 6vh;
    background-color: white;
    margin-top: 30px;
    border-radius: 40px;
    border: 5px solid rgb(244, 183, 159);
    margin-left: 245px;
}

.div-text-b{
    padding-top: 9px;
}

.text-b{
    color: black;
    padding-left: 55px;
    font-family: 'Winky Rough';
    font-size: 23px;
}

.text-s{
    padding-left: 45px;

}
