{% extends "layout.html" %}

{% block content %}

<div class="box">
    <div class="box-section-1" id='quality-one'>
        <p class='div-text'>
            <h1 class="text">Regular Price Tracking</h1>
            <p class="text mini-text"> Stay updated with the latest Jewellery Prices across top Brands<br> -- all in one place.</p>
        </p>
    </div>

    <div class="box-section-1" id="quality-two">
        <p class='div-text'>
            <h1 class="text">Smart Visualizations</h1>
            <p class="text mini-text"> Visualize price movements across categories with <br> clean, easy-to-read trend charts.</p>
        </p>
    </div>

    <div class="box-section-2" id="Brands-focused">
        <h3 class="div-text-b text-b"> Brands Focused </h3>
    </div>

    <div class="brand-names-box">
        <img class="brand-img" id="brand-one" src={{url_for("static", filename = "images/brandlogo/bluestone.jpg")}} alt="bluestone">
        <img class="brand-img" id="brand-two" src={{url_for("static", filename = "images/brandlogo/caratlane.jpg")}} alt="caratlane">
        <img class="brand-img" id="brand-three" src={{url_for("static", filename = "images/brandlogo/tanishq.png")}} alt="tanishq">
    </div>

    <div class="box-section-1" id="quality-three">
        <p class='div-text'>
            <h1 class="text">Insights Engine</h1>
            <p class="text mini-text"> Let our smart system highlight overall segment-level <br> changes and key pricing patterns.</p>
        </p>
    </div>

    <div class="box-section-2" id="segments-focused">
        <h3 class="div-text-b text-b text-s"> Segments Focused </h3>
    </div>

    <div class="category-names-box">
        <div class="box-section-4" >
            <div class='box-text'>
                <p class="cat-text" id="category-ring">Rings</p>
            </div>
            <div class='box-text'>
                <p class="cat-text" id="category-bangle">Bangles</p>
            </div>
            <div class='box-text'>
                <p class="cat-text" id="category-bracelet">Bracelets</p>
            </div>
        </div>
        <div class="box-section-4" >
            <div class='box-text'>
                <p class="cat-text" id="category-earring">Earrings</p>
            </div>
            <div class='box-text'>
                <p class="cat-text" id="category-solitares">Solitares</p>
            </div>
            <div class='box-text'>
                <p class="cat-text" id="category-pendant">Pendants</p>
            </div>
        </div>
        <div class="box-section-4" >
            <div class='box-text'>
                <p class="cat-text" id="category-necklace">Necklace</p>
            </div>
            <div class='box-text'>
                <p class="cat-text" id="category-nosepins">Nosepins</p>
            </div>
            <div class='box-text'>
                <p class="cat-text" id="category-mangalsutras">MangalSutras</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}
