<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title> Welcome to Cogniora </title>
        {% endif %}

        <link rel='stylesheet' href={{url_for('static', filename='layout.css')}}>
        <link rel='stylesheet' href={{url_for('static', filename='home.css')}}>
        <link rel='stylesheet' href={{url_for('static', filename='register.css')}}>
        <link rel='stylesheet' href={{url_for('static', filename='login.css')}}>

    </head>
    <body>
        <!-- Navbar starts -->
        <nav class="nav-color nav-box nav-flex">
            <div class="nav-div-head nav-flex">
                    <img class="nav-img" src={{url_for('static', filename='images/logo.png')}}>
                    <p class="nav-title"> Cogniora </p>
            </div>

            <div class="nav-sections">
                <a href={{url_for('home')}} class="nav-sections-text"> Home </a>
                <a href="#" class="nav-sections-text"> Data </a>
                <a href="#" class="nav-sections-text"> Analytics </a>
            </div>

            <div class="nav-endsection">
                {% if current_user.is_authenticated %}
                    <button><a href={{url_for('login')}} class=""> Profile </a></button>
                    <button><a href={{url_for('register')}} class=""> Logout </a></button>
                {% else %}
                    <button><a href={{url_for('login')}} class=""> Sign In </a></button>
                    <button><a href={{url_for('register')}} class=""> Sign Up </a></button>
                {% endif %}
            </div>
        </nav>

        <!-- Navbar ends -->

        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}

        <footer class="about-me">
            <div class="name">
                <p class="text-name">Gaurav Yadav</p>
            </div>
            <div class="email">
                <a class="text-name-s" href="">Email</a>
            </div>
            <div class="linkedin">
                <a class="text-name-s" href="">Linkedin</a>
            </div>
            <div class="github">
                <a class="text-name-s" href="">Github</a>
            </div>
            <div class="instagram">
                <a class="text-name-s" href="">Instagram</a>
            </div>
        </footer>


    </body>
</html>

